*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

header,footer{
    background: #b0e0e6 ;
    color: black;
    height: 60px;
}

nav{
    width: 60vw;
    height: 100%;
    margin:0 auto;

}
nav > ul{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
nav > ul > li{
    width: 100%;
    height: 100%;
}
.active{
    background: black;
}
nav > ul> li > a{
    height: 100%;
    width: 100%;
    display:block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;  
    font-weight: 400;
}

article{
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

figure{
    margin-bottom: 40px;

}

img{
    width: 100%;
    border-radius:5px;
    transition: 0.2s transform; 
}

img:hover{
    transform: scale(1.05);
}

p{
    margin-bottom: 40px;
}

p:last-of-type{
    margin-bottom: 0;
}


figcaption{
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
}

audio{
    display: block;
    margin-top: 20px;
}

video{
    width: 100%;
    margin-bottom: 40px;
}
.top{
    width: 80px;
    height: 80px;
    background: #222831;
    border:none;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    color: white;
    position:fixed;
    bottom: 120px;
    right: 120px;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 180px;
    align-items: center;
    line-height: 26px;
}

footer > p{
    width: 60vw;
    margin:0 auto;
    padding-left: 40px;
}

.Openingstijden{
    width: 600px;
    width: 600px;
    background: red;
    display: flex;
    justify-content: left;
}

.OpentijdText{
    font-size: large;
}






@media screen and (max-width:1000px){
    article{ 
        width: 80vw;
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .top{
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
    }
    header{
        height: auto;
    }
    nav{
        width: 100%;
    }
    nav > ul{
        display: block;
    }
}

@media screen and (max-width:600px){
    body{
        font-size: 16px;
    }
    article{
        width: 100vw;
        padding: 20px;
    }
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vw;
        padding-left: 20px;
    }
}

.flexfoto
{
    
    display:flex;
    justify-content: right;
    flex-direction: row;
}
.Foto1{
    height: 700px;
    width: 400px;
}